<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>0oilrAeI7K2keDg2kI1i1MBIe7FvGuED</string>
	<key>Domain</key>
	<string>surilla.auth0.com</string>
</dict>
</plist>
