# Network
github "Alamofire/Alamofire" ~> 4.4
github "daltoniam/Starscream" ~> 2.1.1
github "ashleymills/Reachability.swift"

# Parsers
github "scinfu/SwiftSoup"
#github "naoty/Timepiece"
github "malcommac/SwiftDate" ~> 4.0

#Images
github "onevcat/Kingfisher" ~> 3.0
github "zvonicek/ImageSlideshow"
github "aschuch/QRCode"

#  Libraries
#github "facebook/Facebook-SDK-Swift"
#github "badoo/Chatto"
github "uport-project/SwiftKeccak"

# Views
github "xmartlabs/XLPagerTabStrip" ~> 7.0
github "pkluz/PKHUD" ~> 4.0
github "SwiftKickMobile/SwiftMessages"

# Security
github "kishikawakatsumi/KeychainAccess"

# Constraints
github "SnapKit/SnapKit" ~> 3.2.0
