<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NotificationTeambrella.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Surilla.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SurillaWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>SurillaWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>SurillaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>Teambrella copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Teambrella debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Teambrella release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TeambrellaWatch (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>TeambrellaWatch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>TeambrellaWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>notification copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>notification.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D05234B20A5D838000B3247</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D4E5C241F7AB6870020DEE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D59FCF51FBC8407006C0A2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA4759F1E8ABEE600B56D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA475B31E8ABEE600B56D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DA475BE1E8ABEE600B56D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DEFE3F12006544100615022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
